name: CI

permissions:
  contents: write
  id-token: write

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test-and-build:
    name: CI Tests & Build
    runs-on: ubuntu-latest

    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install dependencie
        run: yarn install --frozen-lockfile

      - name: Launch tests
        run: yarn test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ./coverage/lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

      - name: Build
        run: yarn build

      - name: Prepare build changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add dist
          git diff --cached --quiet || git commit -m "chore(ci): rebuild dist"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          branch: ci/rebuild-dist
          delete-branch: true
          title: "chore(ci): rebuild dist"
          body: "Automated build update"

  publish:
    name: Publish to npm
    needs: test-and-build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org

      - name: Install deps
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Publish package
        run: npm publish --access public
